<div class="container">
    <br>

    <input type="file" (change)="fileselect($event)" />
    <button class="btn btn-success" (click)="testapi()">Test</button>

    <br>
</div>


<!-- this file is only for my poc. Not for any assignment purpose -->