<h1>Kundan Notional's Task</h1>

<div style="display: flex; justify-content: center">
   <button style="margin-right: 5%" [class.background] = "reg_start" class="btn btn-primary" (click)="register()" >Register</button>
   <button class="btn btn-primary" [class.background] = "!reg_start" (click)="update()">Update</button>
</div>

<div class="wpcf7" id="wpcf7-f156-p143-o1 formwrap">
    <form action="/?page_id=143#wpcf7-f156-p143-o1" method="post" class="wpcf7-form" novalidate="novalidate">
        
       
          <span class="wpcf7-form-control-wrap Name">
             <input #first_name type="text" name="Name" value="" size="40" class="nameinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="ID">
          </span>

          <span class="wpcf7-form-control-wrap Name">
             <input #second_name type="text" name="Name" value="" size="40" class="nameinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name" (change)="check_first( second_name.value, 'Name' )">
          </span> 
          
          <input #email type="email" name="Email"  size="40" class="emailinput wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="E-mail" (change)="chechEmail( email.value )">                    

          <span class="wpcf7-form-control-wrap Email">
            <input #birth type="number" name="phone" class="emailinput wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Phone" (change)="check_first( birth.value, 'phone' )">
          </span> 
          
          <span class="wpcf7-form-control-wrap Name">
            <input #password type="password" value="" class="nameinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="password" (change)="check_first( password.value, 'password' )">
         </span>                 
         
         <div style="display: flex;">
            <span class="wpcf7-form-control-wrap Email">
            <input #file type="file" accept='image/*' (change)="preview(file.files)" />
            </span>
            <img style="width: 90px; height: 95px;" class="card-img-top" src="{{url}}" alt="profile picture">  
         </div>       
          
          <button *ngIf="reg_start" style="width: 200px;" class="btn btn-primary" (click)="dataGet( first_name.value, second_name.value, password.value, birth.value, email.value )" [disabled]="!correct">Submit</button>

          <button *ngIf="!reg_start" style="width: 200px;" class="btn btn-primary" (click)="dataUpdate( first_name.value, second_name.value, password.value, birth.value, email.value )" [disabled]="!correct">Update</button>

     
  </form>
</div>